
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }


/* .texts-one,
.texts-two{
    margin: 0;
} */

.first-header{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: rgb(240, 240, 240);
    height: 45px;
    box-sizing: border-box;
    margin: 0;
    padding-top: 10px;
}

.texts-one{
    display: flex;
    gap: 20px;

}

.phone{
    display: flex;
    gap: 7px;
}
.phone i{
    padding-top: 2px;
    font-size: 0.9rem;
}

.texts-two{
    display: flex;
    gap: 20px;
}

.second-header{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}


.logo-img{
height: 40px;
}

.logo-and-name{
    display: flex;
    gap: 12px;
}

.logo-and-name p{
    font-size: 1.3rem;
    padding-top: 7px;
    font-weight: bold;
}

.navigators-list{
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 1.1rem;
    padding-top: 10px;
}

.icons{
    padding-top: 10px;
}

.icons i{
border: 1px solid rgb(159, 159, 159);
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
padding: 5px;
color: rgb(19, 6, 117);
font-weight: bold;
margin-left: 10px;


}

.teste{
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vh;
    height: 70vh;
}