<header>
        <div class="first-header">
            <div class="texts-one">
                <div class="phone">
                    <i class="pi pi-whatsapp"></i>
                    <p>+432 154 685 325</p>
                </div>
                <p>East London</p>
            </div>
            <div class="texts-two">
                <p>Admin Profile</p>
                <p>Join Us</p>
            </div>
        </div>

        <div class="second-header">
            <div class="logo-and-name">
                <img src="/assets/logo.png" class="logo-img">
                <p>Cooper</p>
            </div>
            <ul class="navigators-list">
                <li *ngFor="let item of menuItems" (mouseleave)="ocultMenus()" >
                  {{item.name}}
                  <i class="pi pi-chevron-down" (mouseover)="clickOpenMenu(item.name)"></i>
                  <div *ngIf="item.isOpen" class="registrationSystem">
                    <ul>
                      <li  *ngFor="let subItem of item.subItems" (click)="visualizar(subItem.path)" > {{subItem.name
                        }}</li>
                    </ul>
                  </div>
                  </li>
            </ul>
            <div class="icons">
                <i class="pi pi-facebook"></i>
                <i class="pi pi-instagram"></i>
                <i class="pi pi-map-marker"></i>
            </div>
        </div>
    
</header>


<section class="image-text">
    <div class="text">
        <div class="text-container">
            <p class="first-text">THIS IS COOPER SCHOOL</p>
            <p>Education is the best key success in life</p>
        </div>
    </div>
</section>


<section class="information-container">
    <div class="information">
        <div class="first-info">
            <img src="/assets/1.png">
            <h3>Learning & Fun</h3>
            <p>A wide variety  of activities to stimulate language learning, such as arts and crafts, baking, music.</p>
        </div>
        <div class="linha"></div>
        <div class="second-info">
            <img src="/assets/2.png">
            <h3>Qualified Teachers</h3>
            <p>Our experienced teachers encourage children to question, solve problems, and express themselves creatively.</p>
        </div>
        <div class="linha"></div>
        <div class="third-info">
            <img src="/assets/3.png">
            <h3>Healthy Meals</h3>
            <p>Organic food, fresh water, and juice delivered to the kindergarten are avaiable every day.</p>
        </div>
    </div>
</section>

<div class="section-footer">
    <div class="footer-container">
        <div class="text-with-logo">
            <img src="/assets/logo.png" class="logo2">
            <div class="linha2"></div>
            <p class="phrase">CooperSchool provides learning opportunities that increase children's potential.</p>
        </div>

        <div class="email">
            <p class="title_email">EMAIL</p>
            <p class="title-text">admin-cooperschool.org</p>
        </div>

        <div class="phone2">
            <p class="title_phone">PHONE</p>
            <p class="title-text">+1 (409) 987–5874</p>
        </div>

        <div class="address">
            <p class="title_address">ADDRESS</p>
            <p class="title-text">3042 Richmond hwy, London, VA, 2245.</p>
        </div>

    </div>
</div>

<footer>
    <p>CooperSchool © 2023. Privacy Policy.</p>
</footer>



