
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }


/* .texts-one,
.texts-two{
    margin: 0;
} */

.first-header{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: rgb(240, 240, 240);
    height: 45px;
    box-sizing: border-box;
    margin: 0;
    padding-top: 10px;
}

.texts-one{
    display: flex;
    gap: 20px;

}

.phone{
    display: flex;
    gap: 7px;
}
.phone i{
    padding-top: 4px;
    font-size: 0.9rem;
}

.texts-two{
    display: flex;
    gap: 20px;
}

.second-header{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}


.logo-img{
height: 40px;
}

.logo-and-name{
    display: flex;
    gap: 12px;
}

.logo-and-name p{
    font-size: 1.3rem;
    padding-top: 7px;
    font-weight: bold;
}

.navigators-list{
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 1.1rem;
    padding-top: 10px;
}

.navigators-list li{
    position: relative;
    cursor: pointer;
    font-weight: 400;
}

.navigators-list li:hover{
    color: rgb(197, 9, 9);
}


.registrationSystem{
    position:absolute; 
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
    width: 100%;


}

.registrationSystem ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    
}

.registrationSystem li {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* linha separadora entre itens do submenu */
    font-size: 0.8rem;
    font-weight: 300;
}


.registrationSystem li:hover{
color: rgb(14, 4, 127);
}


.navigators-list > li:nth-child(3):hover .registrationSystem {
    display: block;
}

.icons{
    padding-top: 11px;
}

.icons i{
box-shadow: rgba(24, 24, 24, 0.02) 0px 1px 3px 0px, rgba(44, 49, 55, 0.15) 0px 0px 0px 1px;
padding: 5px;
color: rgb(19, 6, 117);
font-weight: bold;
margin-left: 10px;
transition: transform 0.3s;
cursor: pointer;


}

.icons i:hover{
    transform: scale(1.5);
}


.image-text{
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vW;
}

.text{
    background-color: #3835357D;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    gap: 6px;
    font-size: 2rem;
}

.first-text{
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;

}

.information-container{
    background-color: rgb(238, 236, 236);
}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px;
    gap: 30px;
}

.linha{
    box-shadow: rgba(173, 173, 173, 0.02) 0px 1px 3px 0px, rgba(119, 120, 122, 0.15) 0px 0px 0px 1px;
    height: 40vh;
}

.first-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.second-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.third-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-footer{
    
    padding: 60px;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text-with-logo{
    display: flex;
    gap: 30px;
    width: 50%;
    font-size: 0.8rem;
    padding-left: 8px;
}

.linha2{
    box-shadow: rgba(173, 173, 173, 0.02) 0px 1px 3px 0px, rgba(119, 120, 122, 0.15) 0px 0px 0px 1px;
    height: 60px;
}

.logo2{
    width: 60px;
    height: 80%;
}

.email{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    width: 30%;
    padding-bottom: 30px;
}

.phone2{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    width: 30%;
    padding-bottom: 30px;
}

.title_phone{
    font-size: 1.1rem;
    font-weight: 400;
}

.title_address{
    font-size: 1.1rem;
    font-weight: 400;
}

.title_email{
    font-size: 1.1rem;
    font-weight: 400;
}

.address{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    width: 30%;
    padding-bottom: 30px;
}

.title-text{
    padding-top: 8px;
}


footer{
    background-color: rgb(4, 4, 108);
}

footer p{
    color: white;
    text-align: center;
    font-size: 0.7rem;
    padding: 15px;
    opacity: calc(60%);
}




@media  (min-width: 790px) and (max-width: 896px){

.navigators-list{
    font-size: 1rem;
    gap: 15px;
}

}

@media  (min-width: 470px) and (max-width: 789px){
.navigators-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.section-footer{
    padding-top: 10%;
    padding-bottom: 10%;

}

.footer-container{
    display: block;
    gap: 20px;
    width: 100%;

}

.text-with-logo{
    width: 100%;
    padding-bottom: 40px;
}


.email{
    width: 50%;
    padding-right: 20px;
}

.phone2{
    width: 50%;
}

.address{
    width: 50%;
}



.image-text{
    height: 60vW;

}

.first-text{
    font-size: 1.2rem;
}


.text-container{
    font-size: 1.4rem;
    gap: 0;
}

.linha{
    width: 100%;
    height: 0;
}

.information{
    display: flex;
    flex-direction: column;
    padding: 20% 0 20% 0;
    flex-wrap: wrap;
}

.first-info{
    padding-right: 20px;
    padding-left: 20px;
}

.second-info{
    padding-right: 20px;
    padding-left: 20px;
}

.third-info{
    padding-right: 20px;
    padding-left: 20px;
}

.navigators-list li {
    z-index: 1;
}

.registrationSystem{
    z-index: 50;
    background-color: white;
}


}

@media  (min-width: 390px) and (max-width: 469px){
    .navigators-list{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 0.9rem;
        padding-left: 30px;
    }

    .navigators-list i{
        font-size: 0.8rem;
    }
 
    .icons{
        display: flex;
        flex-direction: column;
    }

    .first-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.6rem;
        padding-bottom: 10px;
    }

    .text-one {
        justify-content: space-around;
    }



    .section-footer{
        padding-top: 10%;
        padding-bottom: 10%;

    }

    .footer-container{
        display: block;
        gap: 20px;
        width: 100%;

    }

    .text-with-logo{
        width: 100%;
        padding-bottom: 40px;
    }
    

    .email{
        width: 50%;
        padding-right: 20px;
    }

    .phone2{
        width: 50%;
    }

    .address{
        width: 50%;
    }


    .linha{
        width: 100%;
        height: 0;
    }

    .information{
        display: flex;
        flex-direction: column;
        padding: 20% 0 20% 0;
        flex-wrap: wrap;
    }

    .first-info{
        padding-right: 20px;
        padding-left: 20px;
    }

    .second-info{
        padding-right: 20px;
        padding-left: 20px;
    }

    .third-info{
        padding-right: 20px;
        padding-left: 20px;
    }


    .image-text{
        height: 60vW;

    }

    .first-text{
        font-size: 1rem;
    }


    .text-container{
        font-size: 1.2rem;
        gap: 0;
    }

}