<header>
        <div class="first-header">
            <div class="texts-one">
                <div class="phone">
                    <i class="pi pi-whatsapp"></i>
                    <p>+432 154 685 325</p>
                </div>
                <p>East London</p>
            </div>
            <div class="texts-two">
                <p>My Profile</p>
                <p>Join Us</p>
            </div>
        </div>

    <div class="second-header">
        <div class="logo-and-name">
            <img src="/assets/logo.png" class="logo-img">
            <p>Cooper</p>
        </div>
        <ul class="navigators-list">
            <li>All Courses <i class="pi pi-chevron-down"></i></li>
            <li>Calendars  <i class="pi pi-chevron-down"></i></li>
            <li>Registration System  <i class="pi pi-chevron-down"></i></li>
            <li>Financial <i class="pi pi-chevron-down"></i></li>
        </ul>
        <div class="icons">
            <i class="pi pi-facebook"></i>
            <i class="pi pi-instagram"></i>
            <i class="pi pi-map-marker"></i>
        </div>
    </div>
    
</header>


<div class="teste">
    adasd
</div>



test














<button (click)="visualizar()">Visualizar matrículas</button>
